<div class="jumbotron top-img">
  <p class="text-center text-green-400 top-img-text bg-pink-100 py-8">テクピットクローズ</p>
</div>

<div class="container">
  <div class="top__title text-center py-8">
    All Products
  </div>
  <div class="grid grid-cols-3 gap-3">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "col-lg-4 col-md-6" do %>
        <div class="card">
          <%= image_tag product.image, class: "card-img" %>
          <div class="card-body">
            <p class="card-title">
              <%= product.name %>
            </p>
            <p class="card-text">
              ¥<%= number_to_delimited(product.price) %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>