<link rel="stylesheet" type="text/css" href="/css/header.css">
<nav class="">
  <div class="flex justify-between">
    <div class=""><%= link_to "Techpit Clothes", root_path, class: "navbar-brand" %></div>
    <%= link_to "http://example.com" do %>
      <i class="fas fa-shopping-cart"></i>
    <% end %>
  </div>
</nav>