<nav class="bg-gray-300 py-1 px-2">
  <div class="flex justify-between">
    <div class=""><%= link_to "Techpit Clothes", root_path, class: "navbar-brand" %></div>
    <%= link_to "http://example.com" do %>
      <i class="fas fa-shopping-cart">カート</i>
    <% end %>
  </div>
</nav>